.emoji-nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #ffffff33;
  }
  
  .emoji-nav div {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .emoji-nav div:nth-child(1) {
    gap: 15px;
  }
  
  .emoji-nav div:nth-child(2) {
    gap: 30px;
  }
  
  @media (max-width: 567px) {
    .emoji-nav {
      padding: 20px 8px;
    }
    .emoji-nav div:nth-child(1) img {
      width: 30px;
      height: 30px;
    }
  
    .emoji-nav div:nth-child(2) {
      flex-direction: column;
      gap: 0px;
    }
  
    .emoji-nav div:nth-child(2) p {
      margin-bottom: 0px;
    }
  
    .emoji-nav div:nth-child(1) {
      gap: 10px;
    }
  }
  
  @media (min-width: 2560px) {
    .emoji-nav {
      padding: 80px 200px;
    }
  
    .emoji-nav div:nth-child(1) img {
      width: 80px;
      height: 80px;
    }
  
    .emoji-nav div:nth-child(1) p {
      font-size: 40px;
    }
  
    .emoji-nav div:nth-child(2) p {
      font-size: 35px;
    }
  }