.rock-result {
    background-color: #223a5f;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rock-result .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rock-result .container .heading {
    font-size: 60px;
    color: #fff;
  }
  
  @media (max-width: 576px) {
    .rock-result .container .heading {
      font-size: 30px;
    }
  }
  
  @media (min-width: 2560px) {
    .rock-result .container .heading {
      font-size: 120px;
    }
  }
  
  .rock-result .container .result-list {
    border-radius: 10px;
    border: 5px solid #fff;
    height: 150px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    padding: 10px;
  }
  
  @media (max-width: 576px) {
    .rock-result .container .result-list {
      flex-direction: column;
      width: 95%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .rock-result .container .result-list {
      width: 80%;
    }
  }
  
  @media (min-width: 2560px) {
    .rock-result .container .result-list {
      height: 350px;
    }
  }
  
  .rock-result .container .result-list .name-item {
    width: calc(33.33% - 10px);
    color: #fff;
  }
  
  @media (max-width: 576px) {
    .rock-result .container .result-list .name-item {
      width: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 20%;
    }
  }
  
  @media (min-width: 2560px) {
    .rock-result .container .result-list .name-item p {
      font-size: 40px;
    }
  }
  
  .rock-result .container .result-list .compound-item {
    width: calc(66.66% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  @media (max-width: 576px) {
    .rock-result .container .result-list .compound-item {
      width: 100%;
      height: 80%;
    }
  }
  
  .compound-item .img-item,
  .compound-item .score-item {
    width: calc(50% - 10px);
  }
  
  .compound-item .img-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .compound-item .img-item img {
    width: 50%;
  }
  
  @media (max-width: 576px) {
    .compound-item .img-item img {
      width: 55%;
    }
  
    .compound-item .img-item {
      align-items: center;
    }
  }
  
  .compound-item .score-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 2560px) {
    .compound-item .score-item {
      height: 100%;
    }
  }
  
  .compound-item .score-item div {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
  }
  
  @media (max-width: 576px) {
    .compound-item .score-item div {
      width: 100%;
      height: 80px;
    }
  }
  .score-item div p:nth-child(1) {
    margin-bottom: 0px;
    color: #223a5f;
  }
  
  .score-item div p:nth-child(2) {
    margin: 0px;
    color: #223a5f;
    font-size: 50px;
    font-weight: 700;
  }
  
  @media (max-width: 576px) {
    .score-item div p:nth-child(2) {
      font-size: 30px;
    }
  }
  
  @media (min-width: 2560px) {
    .score-item div p:nth-child(2) {
      font-size: 100px;
    }
  
    .score-item div p:nth-child(1) {
      font-size: 35px;
    }
  }
  
  .rock-result .container .result2-list {
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    padding: 0px;
    color: #fff;
  }
  
  @media (max-width: 576px) {
    .rock-result .container .result2-list {
      width: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .rock-result .container .result2-list {
      width: 80%;
    }
  }
  
  .result2-list .you,
  .result2-list .opponent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
  }
  
  .result2-list .you img,
  .result2-list .opponent img {
    width: 70%;
  }
  
  @media (max-width: 576px) {
    .result2-list .you img,
    .result2-list .opponent img {
      width: 80%;
    }
  }
  
  .result2-list .status {
    width: 33.33%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .result2-list .status div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14%;
  }
  
  .result2-list .status div img {
    width: 30%;
  }
  
  .result2-list .status div button {
    background-color: #fff;
    border: 0px solid;
    border-radius: 5px;
    color: #223a5f;
    padding: 10px 20px;
    font-size: 10px;
  }
  
  @media (max-width: 576px) {
    .result2-list .status div button {
      padding: 4px 10px;
      font-size: 8px;
    }
  
    .result2-list .status div img {
      width: 20%;
    }
  
    .result2-list .status div p {
      font-size: 10px;
    }
  }
  
  @media (min-width: 2560px) {
    .result2-list .you p,
    .result2-list .opponent p,
    .result2-list .status div p,
    .result2-list .status div button {
      font-size: 30px;
    }
  
    .result2-list .status img {
      width: 35%;
    }
  }
  
  .lost-face {
    border-radius: 50%;
  }